<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="cn.com.dao.PresaleMapper">
	 
     <resultMap type="cn.com.entity.Presale" id="PresaleMap">  
        <id property="id" column="ID" />  
        <result property="certificate" column="CERTIFICATE" />  
        <result property="projectName" column="PROJECT_NAME" />
        <result property="location" column="LOCATION" />
        <result property="developer" column="DEVELOPER" />
        <result property="saleable"  column="SALEABLE"/>
        <result property="createTime"  column="CREATE_TIME"/>
    </resultMap>
     
    <select id="queryPresales" resultMap="PresaleMap" parameterType="map">
        select 
            ID,CERTIFICATE,PROJECT_NAME,
            LOCATION,DEVELOPER,SALEABLE,CREATE_TIME
        from tbl_presale
        <where>
            <if test="certificate != null and certificate != ''">
                and CERTIFICATE like '%${certificate}%'
            </if>
            <if test="projectName != null and projectName != ''">
                and PROJECT_NAME like '%${projectName}%'
            </if>
        </where>
    </select>
    
    <insert id="insertPresales" parameterType="List">
        insert into tbl_presale (CERTIFICATE,PROJECT_NAME,LOCATION,DEVELOPER,SALEABLE,CREATE_TIME)
        values 
        <foreach collection="list" item="item" separator=",">
            (#{item.certificate},#{item.projectName},#{item.location},
            #{item.developer},#{item.saleable},#{item.createTime})
        </foreach>
    </insert>
    
    <select id="queryMaxCertificate" resultType="String">
        select IFNULL(max(CERTIFICATE),0) from tbl_presale
    </select>
</mapper>