<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="cn.com.dao.PriceMapper">
	 
     <resultMap type="cn.com.entity.Price" id="PriceMap">  
        <id property="id" column="ID" />  
        <result property="projectId" column="PROJECT_ID" />  
        <result property="sort" column="SORT" />
        <result property="roomNo" column="ROOM_NO" />
        <result property="area" column="AREA" />
        <result property="unitPrice"  column="UNIT_PRICE"/>
        <result property="totalPrice"  column="TOTAL_PRICE"/>
    </resultMap>
     
    <insert id="insertPrices" parameterType="List">
        insert into tbl_price (PROJECT_ID,SORT,ROOM_NO,
                    AREA,UNIT_PRICE,TOTAL_PRICE)
        values 
        <foreach collection="list" item="item" separator=",">
            (#{item.projectId},#{item.sort},#{item.roomNo},
            #{item.area},#{item.unitPrice},#{item.totalPrice})
        </foreach>
    </insert>
</mapper>